@import 'koochak/dist/koochak.min.css';

:root {
    --beige: #e7dec8;
    --brown: #cbaf87;
    --grey: #7e8a97;
    --blue: #30475e;
}

.grid {
    display: grid;
    margin: 50px;
    grid-gap: 1rem;
    grid-template-columns: 60% 40%;
    grid-template-areas: 
    "content visual"
}

img {
    display: block;
    height: 100%; 
    width: 100%;
}

.content {
    grid-area: content;
}

.content>h1 {
    text-align: center;
}

.visual {
    grid-area: visual;
}